

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url(http://themes.googleusercontent.com/static/fonts/oswald/v7/HqHm7BVC_nzzTui2lzQTDT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url(http://themes.googleusercontent.com/static/fonts/oswald/v7/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}

/********************************************

In this file you can add your custom CSS.
It will always override rules in style.css.
Good work... and good luck! :)

********************************************/

.input-append, .input-prepend{
    display:block;
}

form.select-product-form button{
    display: none;
}

p.prod-category{
    margin-bottom: 0px;
}

ul.unstyled, ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}
ul.unstyled li{
    margin-bottom: 0;
}

body {
    padding-top: 0px;
    margin-top: 0px;
}